* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}
body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 3rem;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #f08040;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
header a:hover {
  color: #f08040;
}
.brand a {
  font-size: 3rem;
}
footer {
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* HomeScreen */
.wrapper {
  height: 100%;
  margin: 0 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .wrapper {
    margin: 0;
  }
}
.container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  .container {
    flex-wrap: wrap;
  }
}
.left-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem 0 0 0.5rem;
  height: 70rem;
  width: 20rem;
  background-color: #d5d5d5;
}
@media (max-width: 576px) {
  .left-menu {
    flex-direction: row;
    height: 35rem;
    width: 100%;
    margin: 1rem;
  }
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 14rem;
  background-color: #2c2c2c;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 3rem;
  opacity: 0.5;
  transition: all 0.5s ease;
}
@media (max-width: 576px) {
  .list-items {
    display: flex;
  }
  .item {
    margin: 1rem;
  }
}
.item:hover {
  opacity: 1;
  cursor: pointer;
}
.active-item {
  opacity: 1;
  box-shadow: 0px 0px 0px 0.6rem#A3A3A3;
  /* cursor: pointer; */
}
.item span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.item-icon {
  height: 6rem;
  margin-bottom: 1rem;
}
.right-container {
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #e3e2e2;
  height: 70rem;
  width: 100%;
  /* opacity: 0.2; */
}
.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #e3e2e2;
  height: 70rem;
  width: 100%;
  opacity: 0.2;
}
.right-content p {
  font-size: 4rem;
  font-weight: 600;
  color: transparent;
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
}
.left-arrow {
  height: 10rem;
}
.dot {
  margin: 0 0 0 10rem;
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  background-color: red;
  border-radius: 2rem;
}
@media (max-width: 576px) {
  .dot {
    position: absolute;
    margin: 7rem 0 0 0;
  }
}
/* Desktop */
.desktop-container {
  margin: 4rem;
}
.desktop-items {
  display: flex;
}
.desktop-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 12rem;
  margin-right: 2rem;
  /* padding: 10rem; */
  background-color: #f2f2f2;
  color: #2c2c2c;
  border-radius: 1rem;
  opacity: 0.5;
  transition: all 0.5s ease;
}
.desktop-item:hover {
  opacity: 1;
  cursor: pointer;
}
.wallet span {
}
.wallet-icon {
  height: 5rem;
  margin-bottom: 1rem;
}
.desktop-button-container {
  margin: 5rem 0;
  display: flex;
}
.desktop-button-guide {
  margin-right: 2rem;
  display: flex;
  background-color: #c90606;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.desktop-button-download {
  margin-right: 1rem;
  display: flex;
  background-color: #62b402;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
